
<header style=" top:25px; margin-left: 550px; margin-right: 75px;">
    <br>
    <h2>Dirección</h2>
    <br>
</header>


<!-- Modal -->
<div class="box">
    <div class="row">
        {{ locals.flash }}
        <div class="card" style="margin-left: 550px; margin-right: 75px;">
            <div class="card-header">

            </div>
            <div class="card-body">
          
                <form id="formulario" method="POST" action="/josselynStore/envio/direccion/guardar">

                    <div class="form-group">
                        <label for="Ciudad">Ciudad</label>
                        <input  required type="text" class="form-control" id="ciudad" name="ciudad" aria-describedby="marcaHelp" placeholder="Ingrese Ciudad">
                        <small id="marcaHelp" class="form-text text-muted">Ciudad de Envio.</small>
                    </div>

                    <div class="form-group">
                        <label for="Barrio">Barrio</label>
                        <input required type="text" class="form-control" id="barrio" name="barrio" aria-describedby="marcaHelp" placeholder="Ingrese Barrio">
                        <small id="marcaHelp" class="form-text text-muted">Barrio de Envio.</small>
                    </div>

                    <div class="form-group">
                        <label for="calle_prin">Calle Principal</label>
                        <input required type="text" class="form-control" id="calle_prin" name="calle_prin" aria-describedby="marcaHelp" placeholder="Ingrese Calle Principal">
                        <small id="marcaHelp" class="form-text text-muted">Calle Principal.</small>
                    </div>

                    <div class="form-group">
                        <label for="calle_sec">Calle Secundaria</label>
                        <input required type="text" class="form-control" id="calle_sec" name="calle_sec" aria-describedby="marcaHelp" placeholder="Ingrese Calle Secundaria">
                        <small id="marcaHelp" class="form-text text-muted">Calle Secundaria.</small>
                    </div>


                    <div class="form-group">
                        <label for="num_casa">Numero de Casa</label>
                        <input required type="text" class="form-control" id="num_casa" name="num_casa" aria-describedby="marcaHelp" placeholder="Ingrese Numero de Casa">
                        <small id="marcaHelp" class="form-text text-muted">Numero de Casa.</small>
                    </div>

                    <div class="form-group">
                        <label for="referencia">Referencia</label>
                        <input required type="text" class="form-control" id="referencia" name="referencia" aria-describedby="marcaHelp" placeholder="Ingrese Referencia">
                        <small id="marcaHelp" class="form-text text-muted">Referencia.</small>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>

                </form>
              
            </div>
        </div>
    </div>
</div>








