<br>
<div id="card_220921339056" class="wpwl-container wpwl-container-card">
  <script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{Checkout}}"></script>
  <form action="http://localhost:3000/josselynStore/resultado" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
</div>

