<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="/img/fav-icon.png" type="image/x-icon" />
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{{title}}}</title>

        <!-- Icon css link -->
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/vendors/line-icon/css/simple-line-icons.css" rel="stylesheet">
        <link href="/vendors/elegant-icon/style.css" rel="stylesheet">
        <!-- Bootstrap -->
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">

        <!-- Rev slider css -->
        <link href="/vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="/vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="/vendors/revolution/css/navigation.css" rel="stylesheet">

        <!-- Extra plugin css -->
        <link href="/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
        <link href="/vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

        <!------ Include the above in your HEAD tag ---------->



        <link href="/css/style.css" rel="stylesheet">
        <link href="/css/responsive.css" rel="stylesheet">
        <!--jghjhgj-->

        <script>
function mostrarNroItems(data) {
    var cant = 0;
    var prize = 0;
    $.each(data, function (i, item) {
        cant += item.cant;
        prize += item.pt;
        console.log(item);
    });
    $("#nro_items").html(cant + '  <b>$ ' + prize + '</b>');
}
function refrescar() {
    var url = 'http://localhost:3000/josselynStore/compra/carrito/obtener';
    $.ajax({
        url: url,
        type: 'GET',
        dataType: 'json',
        success: function (data, textStatus, jqXHR) {
            mostrarNroItems(data);
        }, error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR.responseText);
        }
    });
}
$(document).ready(function () {
    refrescar();
});

$(document).ready(function () {
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });

    $(".zoom").hover(function () {

        $(this).addClass('transition');
    }, function () {

        $(this).removeClass('transition');
    });
});
        </script>

        <style>


            #demo {
                height:100%;
                position:relative;
                overflow:hidden;
            }


            .green{
                background-color:#6fb936;
            }
            .thumb{
                margin-bottom: 30px;
            }

            .page-top{
                margin-top:85px;
            }


            img.zoom {
                width: 100%;
                height: 200px;
                border-radius:5px;
                object-fit:cover;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                -ms-transition: all .3s ease-in-out;
            }


            .transition {
                -webkit-transform: scale(1.2); 
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
            .modal-header {

                border-bottom: none;
            }
            .modal-title {
                color:#000;
            }
            .modal-footer{
                display:none;  
            }

        </style>

    </head>
    <body>

        <!--================Top Header Area =================-->
        <div class="header_top_area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="top_header_left"> 
                            <div class="input-group">

                                <span class="input-group-btn">
                                    <button class="btn btn-secondary" type="button"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="top_header_middle">
                            <a href="#"><i class="fa fa-phone"></i> Contactanos: <span>+0000000000</span></a>
                            <a href="#"><i class="fa fa-envelope"></i> Email: <span>josselynsStore@gmail.com</span></a>

                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="top_right_header">
                            <ul class="header_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                            </br>

                            <ul class="top_right">
                                {{#if login}}
                                <li class="user"><a href="/josselynStore/cerrar_session" ><i class="icon-user icons"> Cerrar Sesion</i></a></li></br>
                                <li class="user"><a href=""><i class="icon-pencil icons"> Editar Perfil</i></a></li></br>

                                <li><a href="#"><i id="nro_items" class="icon-handbag icons">0</i></a></li>
                                <li class="h_price">

                                    <button class="btn-primary" ><a href="/josselynStore/venta">Ver Carrito</a></button>

                                </li>
                                {{else}}
                                <li class="user"><a href="/josselynStore/login"><i class="icon-user icons"> Iniciar Sesion</i></a></li>
                                {{/if}}

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Top Header Area =================-->
        <!--================Menu Area =================-->
        <header class="shop_header_area">
            <div  style="text-align-last: center">
                <h1><b>JOSSELYN`S STORE</b></h1>
                <br>

            </div>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown submenu active">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categoria   <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                {{#each lista}}
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link"  href="#">{{categoria}}</a></li>  
                                </ul>
                                {{/each}}
                            </li>
                        </ul>

                        <ul class="navbar-nav">
                            {{#if roles}}
                            <li class="nav-item dropdown submenu active">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administrar <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link"  href="/josselynStore/administrar/marca">Registro de Marcas</a></li>                                   
                                    <li class="nav-item"><a class="nav-link"  href="/josselynStore/administrar/producto">Registro de Productos </a></li>   
                                </ul>
                            </li>
                            {{/if }}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
      
        <form class="example" action="/buscar/categoria" method="POST" style=" margin-left: 200px; margin-right: 75px; margin-top: 20px;">
                <input type="text" placeholder="Search.." name="buscar">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
    
        <!--================End Menu Area =================-->

        {{{body}}}

        <!--================Footer Area =================-->





        <footer class="footer_area">
            <div class="container">
                <div class="footer_widgets">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-6">
                            <aside class="f_widget f_about_widget">

                                <p>Grcias por visitar Jsselyn`s Store</p>
                                <h6>Social:</h6>
                                <ul>
                                    <li><a href="#"><i class="social_facebook"></i></a></li>
                                    <li><a href="#"><i class="social_twitter"></i></a></li>

                                    <li><a href="#"><i class="social_instagram"></i></a></li>
                                    <li><a href="#"><i class="social_youtube"></i></a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <aside class="f_widget link_widget f_info_widget">
                                <div class="f_w_title">
                                    <h3>Information</h3>
                                </div>
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="#">Help Center</a></li>
                                    <li><a href="#">Returns & Refunds</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <aside class="f_widget link_widget f_service_widget">
                                <div class="f_w_title">
                                    <h3>Customer Service</h3>
                                </div>
                                <ul>
                                    <li><a href="#">My account</a></li>

                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </aside>
                        </div>

                    </div>
                </div>

            </div>
        </footer>
        <!--================End Footer Area =================-->




        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

        <script src="/js/jquery.validate.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->


        <!-- Rev slider js -->
        <script src="/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script src="/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
        <script src="/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <!-- Extra plugin css -->
        <script src="/vendors/counterup/jquery.waypoints.min.js"></script>
        <script src="/vendors/counterup/jquery.counterup.min.js"></script>
        <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
        <script src="/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
        <script src="/vendors/image-dropdown/jquery.dd.min.js"></script>
        <script src="/js/smoothscroll.js"></script>
        <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
        <script src="/vendors/isotope/isotope.pkgd.min.js"></script>
        <script src="/vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
        <script src="/vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>

        <script src="/vendors/jquery-ui/jquery-ui.js"></script>
        <script src="/js/theme.js"></script>

    </body>
</html>
